certifi
charset-normalizer
click
colorama
idna
mccabe
MouseInfo
mysql-connector-python
prettytable
protobuf
pwinput
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
urllib3
wcwidth
